name: emmit-deployment-check
run-name: App has remained unchanged
concurrency: emmit-deployment-check

on:
  workflow_dispatch:
  schedule:
    # Every 5 minutes
    - cron: "*/5 * * * *"

jobs:
  check-staging:
    environment: staging
    runs-on: ubuntu-latest
    steps:
    - name: Fetch website content
      run: |
        curl -s "https://tanzu-staging.academy" > index.html
        cat index.html

    - name: See if this site content was previously seen
      id: restore
      uses: actions/cache/restore@v4
      with:
        path: index.html
        key: emmit-deployment-check-staging-${{ hashFiles('index.html') }}

    - name: Save this version regardless
      id: save
      uses: actions/cache/save@v4
      with:
        path: index.html
        key: emmit-deployment-check-staging-${{ hashFiles('index.html') }}

    - name: Notify if data has changed (example using email)
      # This step only runs if there was not a cache hit (meaning the content changed)
      if: steps.save.outputs.cache-hit != 'true'
      # You would replace this with your preferred notification method (e.g., Slack webhook, email action)
      run: |
        echo "Deployment has happened $(curl -s -I -w '%header{last-modified}' https://tanzu-staging.academy -o /dev/null)"
        exit 1

  check-production:
    environment: production
    runs-on: ubuntu-latest
    steps:
    - name: Fetch website content
      run: |
        curl -s "https://tanzu.academy" > index.html
        cat index.html

    - name: See if this site content was previously seen
      id: restore
      uses: actions/cache/restore@v4
      with:
        path: index.html
        key: emmit-deployment-check-staging-${{ hashFiles('index.html') }}

    - name: Save this version regardless
      id: save
      uses: actions/cache/save@v4
      with:
        path: index.html
        key: emmit-deployment-check-staging-${{ hashFiles('index.html') }}

    - name: Notify if data has changed (example using email)
      # This step only runs if there was not a cache hit (meaning the content changed)
      if: steps.restore.outputs.cache-hit != ''
      # You would replace this with your preferred notification method (e.g., Slack webhook, email action)
      run: |
        echo "Deployment has happened $(curl -s -I -w '%header{last-modified}' https://tanzu.academy -o /dev/null)"
        exit 1
         
