name: emmit-deployment-check
run-name: App has remained unchanged
concurrency: emmit-deployment-check

on:
  schedule:
    # Every 5 minutes
    - cron: "*/5 * * * *"

jobs:
  check-staging:
    environment: staging
    runs-on: ubuntu-latest
    steps:
    - name: Fetch website content
      run: curl -is "https://tanzu-staging.academy" | grep "last-modified" | sed s/"last-modified"/"staging"/ > last-modified-staging.txt

    - name: Compare with previous run and cache
      id: cache
      uses: actions/cache@v5
      with:
        path: last-modified-staging.txt
        key: ${{ hashFiles('last-modified-staging.txt') }}

    - name: Notify if data has changed (example using email)
      # This step only runs if there was not a cache hit (meaning the content changed)
      if: steps.cache.outputs.cache-hit != 'true'
      # You would replace this with your preferred notification method (e.g., Slack webhook, email action)
      run: |
        echo "Deployment has happened $(cat last-modified-staging.txt)"
        exit 1
  check-production:
    environment: production
    runs-on: ubuntu-latest
    steps:
    - name: Fetch website content
      run: curl -is "https://tanzu.academy" | grep "last-modified" | sed s/"last-modified"/"production"/ > last-modified-production.txt

    - name: Compare with previous run and cache
      id: cache
      uses: actions/cache@v5
      with:
        path: last-modified-production.txt
        key: ${{ hashFiles('last-modified-production.txt') }}

    - name: Notify if data has changed (example using email)
      # This step only runs if there was not a cache hit (meaning the content changed)
      if: steps.cache.outputs.cache-hit != 'true'
      # You would replace this with your preferred notification method (e.g., Slack webhook, email action)
      run: |
        echo "Deployment has happened $(cat last-modified-production.txt)"
        exit 1
         
